/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
     -webkit-font-smoothing: antialiased;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background-color: #f0efef;
     margin: auto;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

main a:hover {
  color: #42b8f7;
}

header a:hover {
  color: #fff;
}

header {
  background-color: #033048;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.5px;
  display: inline-block;
  margin-right: 12%;
}

header ul {
  font-size: 18px;
  font-weight: 600;
  color: #f9e42e;
  display: inline-block;
  margin-left: 11%;
}

header li {
  display: inline-block;
  padding: 0 20px 0;
}

main {
  text-align: center;
  padding: 20px 0 70px 0;
}

.blog {
  width: 700px;
  display: inline-block;
  vertical-align: top;
  padding: 30px 8px 30px 30px;
  margin: auto;
  text-align: left;
}

.blog img {
  width: 100%;
  padding: 15px 0;
}

.blog h2 {
  font-size: 30px;
  color: #033048;
  font-weight: 600;
}

.blog p {
  font-size: 16px;
  font-weight: 100;
  color: #606161
}

.blog p::first-letter {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 5px;
  float: left;
}

.read_more {
  color: #033048;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  padding: 20px 0 15px;
}

hr {
  height: 1px;
  border: 0 none;
  background-color: #033048;
}

.side_bar {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  padding: 30px 30px 30px 8px;
  margin: auto;
  color: #033048;
  text-align: left;
}

.side_bar h2 {
  font-size: 20px;
  font-weight: 900;
  color: #033048;
  padding-bottom: 5px;
}

.side_bar ul, .side_bar p {
  font-weight: 100;
  font-size: 16px;
}

.side_bar h3 {
  font-size: 15px;
  font-weight: 700;
}

.categories {
  padding-bottom: 30px;
}

.about_relaxr {
  padding-bottom: 30px;
}

.ad_unit {
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.ad_unit h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;


}
.sign-up-now {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #033048;
  color: white;
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
  padding: 12px 40px;
}

.sign-up-banner {
  background-color: #f9e42e;
  padding: 40px;
}

.social li {
  display: inline-block;
  padding: 0 15px 30px;
}

.social img {
  height: 25px;
}

.social {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  background-color: #121212;
  color: white;
  padding: 40px 0 20px 0;
}

footer h2 {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #f9e42e
}

footer ul {
  padding: 10px 4px 10px 0;

}

footer p {
  font-size: 11px;
  font-weight: 600;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
